{% extends "layout.html" %}
{% block head %}
{{super()}}
{% endblock %}
{%block content%}  
    <div class="container mt-4">
        <h1>Edit Item</h1>

        <form action="" method="POST">
            <div class="form-group">
                <input type="text" name="new_item_name" class="form-control" value="{{ item.name }}" required>
            </div>
            <div class="form-group">
                <input type="text" name="new_item_quantity" class="form-control" value="{{ item.quantity }}" required>
            </div>
            <div class="form-group">
                <input type="text" name="new_item_category" class="form-control" value="{{ item.category }}">
            </div>
            <button type="submit" class="btn btn-primary">Save Changes</button>
        </form>
    </div>
{%endblock%}
