{% extends "layout.html" %}
{% block head %}
{{super()}}
{% endblock %}
{%block content%}    
<div class="container mt-4">
        <h1>Stocked items</h1>
        <form action="/filter_by_category" method="POST">
            <select name="category" class="form-control">
                <option value="" selected>All Categories</option>
                <option value="Baño">Baño</option>
                <option value="Comida">Comida</option>
                <!-- Add more category options as needed -->
            </select>
            <button type="submit">Filter</button>
        </form>

        <ul class="list-group">
            {% for item in items %}
                <li class="list-group-item">
                    <p class="mb-0">{{ item.name }} -- {{ item.quantity }}
                        <a href="{{ url_for('edit_item', id=item.id) }}" class="btn btn-sm btn-info">Edit</a>
                        <a href="{{ url_for('delete_item', id=item.id) }}" class="btn btn-sm btn-danger">Delete</a>
                    </p>
                </li>
            {% endfor %}
        </ul>
    </div>

 {%endblock%}